.leftBar {
  flex: 1;
  background-color: rgb(251, 251, 253);
  height: calc(100vh - 50px);
  position: sticky;
  top: 30px;

  .leftBarWrapper {
    padding: 20px;
    color: #555;

    .leftBarMenu {
      .leftBarTitle {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
        color: #555;
      }
      .leftBarList {
          margin-bottom: 20px;

        .leftBarListItem {
          display: flex;
          align-items: center;
          font-size: 10px;
          font-weight: 400;
          cursor: pointer;
          margin-left: 8px;
          font-size: 16px;
          font-weight: 500;
          color: #555;
          margin-bottom: 10px;
          border-radius: 10px;

          &:active, &:hover {
            background-color: rgb(234, 223, 245)
          }
        }

        .leftBarIcons{
            color: blueviolet;
            padding-left: 8px;
        }

        .leftBarIconTitle{
            margin-left: 8px;
            
        }
      }
    }
  }
}
