.topbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 999;

  .topBarWrapper {
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

    //TopBarLeft-----------
    .topBarLeft {
      .logoText {
        font-weight: bold;
        font-size: 26px;
        color: darkblue;
        cursor: pointer;
      }
    }

    //  TopBarRight------------
    .topBarRight {
      display: flex;
      .topBarRightIconContainer {
        position: realative;
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-right: 26px;
        color: #555;

        

        //For Badge---------------
        .topIconBadge {
          position: absolute;
          font-size: 8px;
          width: 15px;
          height: 15px;
          top: 7px;
          background-color: red;
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;

        }
      }

      .topAvatar {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        cursor: pointer;
        object-fit: cover;
      }
    }
  }
}
