// .home {
//     flex: 4;
//     .cardRow {
//         display: flex;
//     }
//     .revenueAndGraphRow{
//         display: flex;
//         justify-content: space-between;
//     }
// }

.home {
    .homePageWrapper {
        display: flex;
        .homeLeftBar {
            flex: 2;
        }
        .homePageRightbar {
            flex: 11;

            .cardRow{
                display: flex;
            }

            .revenueAndGraphRow{
                display: flex;
            }
        }
    }
}
