.updateUserPage {
    .userUpdatePageWrapper {
        display: flex;

        .userUpdatePageLeftBar {
            flex: 2;
        }

        .userUpdatePageRightBar {
            padding: 0px 20px;
            margin-top: 20px;
            flex: 11;

            .userUpdatePageTitle {
                font-size: 28px;
                font-weight: 700;
                color: rgb(40, 39, 39);
            }

            .userUpdatePageTwoConRow {
                display: flex;
                flex-direction: row;
                margin-top: 20px;

                .oldDetail {
                    width: 700px;
                    height: 500px;
                    box-shadow: 1px 2px 26px 5px rgba(156, 142, 142, 0.36);
                    -webkit-box-shadow: 1px 2px 26px 5px rgba(156, 142, 142, 0.36);
                    -moz-box-shadow: 1px 2px 26px 5px rgba(156, 142, 142, 0.36);
                    padding: 20px;

                    .oldDetailProfileAndName {
                        display: flex;
                        align-items: center;
                        margin-bottom: 50px;
                        .oldCircleAvatar {
                            .oldProfileImg {
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                object-fit: cover;
                            }
                        }
                        .nameProfession {
                            margin-left: 20px;
                            display: flex;
                            flex-direction: column;

                            .oldName{
                               font-size: 22px;
                               font-weight: 600;
                               color: rgb(47, 47, 47);
                            }
                            .oldProfession{
                                font-size: 16px;
                                font-weight: 500;
                                color: rgb(47, 47, 47);
                                margin-top: 1px;
                            }

                            
                        }
                    }

                    .accountDetail{
                        font-size: 18px;
                        font-weight: 600;
                        color: rgb(69, 69, 69);
                        
                        
                    }
                    .iconDetailRow{
                      
                       display: flex;
                       align-items: center;
                       margin-top: 14px;
                       font-size: 16px;

                       .oldIcon{
                           color: rgb(47, 46, 46);
                           margin-right: 8px;
                           font-size: 20px;
                       }

                    }

                    .contactDetail{
                        font-size: 18px;
                        font-weight: 600;
                        color: rgb(69, 69, 69);
                    }
                }

                .newDetail {
                    margin-left: 20px;
                    width: 100%;
                    height: 500px;
                    box-shadow: 1px 2px 26px 5px rgba(156, 142, 142, 0.36);
                    -webkit-box-shadow: 1px 2px 26px 5px rgba(156, 142, 142, 0.36);
                    -moz-box-shadow: 1px 2px 26px 5px rgba(156, 142, 142, 0.36);
                }
            }
        }
    }
}
