.dataTableCon{

    .cellWithImg{
        display: flex;
        align-items: center;

        .cellImg{
            width:32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;

        }
    }
    .cellWithStatus{
        padding: 5px;
        border-radius: 5px;

        &.active{
            color: green;
            background-color: rgb(230, 245, 230);

        }
        &.passive{
            color: red;
            background-color: rgb(243, 215, 215);
        }

        &.pending{
            color: orange;
            background-color: rgb(244, 228, 202);
        }

    } 
    .cellAction{
        display: flex;
        

        .actionEditButton{
            width: 50px;
            height: 26px;
            border-radius: 10px;
            background-color: rgb(38, 125, 38);
            color: white;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 18px;
        }
        
        .actionDeleteIcon{
            color: red;
            font-size: 26px;
            cursor: pointer;
        }
    }   
}