.dataTableCon{

    .cellWithImg{
        display: flex;
        align-items: center;

        .cellImg{
            width:32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;

        }
    }
    .cellWithStatus{
        padding: 5px;
        border-radius: 5px;

        &.active{
            color: green;
            background-color: rgb(230, 245, 230);

        }
        &.passive{
            color: red;
            background-color: rgb(243, 215, 215);
        }

        &.pending{
            color: orange;
            background-color: rgb(244, 228, 202);
        }

    } 
    .cellAction{
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButton{
            pad: 2px ,5px;
            border-radius: 5px;
            color: darkblue;
            border: 1px solid rgba(0, 0, 139, 0.522);
            cursor: pointer;
        }
        .deleteButton{
            pad: 2px ,5px;
            border-radius: 5px;
            color: crimson;
            border: 1px solid rgba(220, 20, 60, 0.549);
            cursor: pointer;
        }
    }   
}